.container {
    display        : flex;
    justify-content: space-between;
    padding-bottom : 70px;

}


.box {
    flex   : 1;
    padding: 20px;

    margin-right: 10px;

}


.logo img {
    max-width: 100%;
}

.text p {
    width: 285px;

    margin-top: 1px;
}




.logo {
    display: flex;

    align-items: flex-start;

}

.text {
    flex: 1;
}

.text2 p {
    margin: -12px;
}